.DS_Store

# ui
ui/node_modules

# server
api/node_modules
api/dist
api/app_log.txt

# env files
api/.env*

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?