@import "../_variables.scss";

.bar-details-box {
  min-height: 180px;
  padding: 10px;
  display: flex;
  flex-direction: column;

  h2 {
    font-weight: bold;
  }

  h3 {
    margin-top: auto;
    margin-bottom: 0;
    color: $light-black;
  }

  .last-updated, .edit-bar-link{
    font-size: $font-sm;
    font-style: italic;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  ul.bar-hours {
    .day {
      text-transform: uppercase;
      font-size: $font-sm;
      color: $navy;
    }

    .hours {
      float: right;
      font-style: italic;
    }
  }
}

.map-box {
  min-height: 200px;
  padding: 0;
}