@import "../_variables.scss";

.list-details-box {
  min-height: 180px;
  padding: 10px;
  display: flex;
  flex-direction: column;

  h2 {
    font-weight: bold;
  }

  h3 {
    margin-top: auto;
    margin-bottom: 0;
    color: $light-black;
  }
  
  ul {
    padding-left: 0;
  }

  li {
    margin-left: 0;
    font-style: italic;
  }
}