@import "../_variables.scss";

// borrowed from the vue examples

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  position: relative;
  width: $modal-width;
  margin: 0px auto;
  padding: 20px;
  background-color: $white;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;;
}

button.close-modal {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  color: $light-black;
  font-weight: bold;

  &:hover {
    color: $light-ruby;
  }
}

.modal-header {
  margin-top: 0;

  ::v-deep h2 {
    margin: -20px -20px 20px -20px;
    padding: 20px;
    color: $light-black;
    background-color: $gold;
  }
}

.modal-body {
  margin: 20px 0;

  ::v-deep {
    fieldset {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-end;

      border: 0;
      margin: 0;
      padding: 0;
    
      label {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          width: 20%;
          margin-right: 10px;
          padding: 10px 10px 5px 10px;
          border-bottom: 2px solid $light-gold;
          font-style: italic;
        }
      
      label + * {
        flex: 1;
      }

      input, select, textarea {
        font: $font-baseline "LibreBaskerville", "Garamond", serif;
      }

      input[type="text"], select {
        border-bottom: 1px solid $light-emerald;
        padding: 10px 10px 5px 10px;
        outline: none;
      }
    }

    // if we end up using checkboxes elsewhere, can make this a checkbox component
    .checkbox-field {
      display: block;

      legend {
        border-bottom: 2px solid $light-gold;
        font-style: italic;
        font-size: $font-md;
      }

      // thanks to https://moderncss.dev/pure-css-custom-checkbox-style/
      label {
        display: grid;
        grid-template-columns: 4em auto;
        gap: 0.5em;
        width: auto;

        font-style: normal;
        border-bottom: 0;
        padding-top: 1em;
      }
      
      input[type="checkbox"] {
        -webkit-appearance: none;
        appearance: none;
        margin-left: 2.5em;

        width: 1.15em;
        height: 1.15em;
        border: 0.15em solid $russet;
        border-radius: 0.15em;

        display: grid;
        place-content: center;

        // checked custom styling
        &::before {
          content: '';
          width: 0.65em;
          height: 0.65em;
          transform: scale(0);
          transition: 120ms transform ease-in-out;
          box-shadow: inset 1em 1em $russet;
        }

        &:checked::before {
          transform: scale(1);
        }

        &:focus {
          outline: max(2px, 0.15em) solid $light-russet;
        }
      }
    }
  }
}

.modal-footer {
  text-align: center;
}

// thanks Vue!

.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.5s ease;
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}