@import "../_variables.scss";

.rating {
  display: inline-block;
  height: 20px;
  min-width: 86px;
  margin: 5px 0 0;
  position: relative;
  
  img {
    margin-top: 4px;
  }

  .partial-container {
    display: inline-block;
    background: url($rating-path) no-repeat;
    // dimensions of the bg image
    width: 17px;
    height: 16px;
    position: relative;
  }

  .partial {
    overflow-x: hidden; 
    display: inline-block;
    position: absolute;
    top: -4px;
    left: 0;
    // width will be computed inline
  }
}

.centered {
  font-size: $font-sm;
  text-align: center;

  p {
    margin: 0;
  }
}

.divider {
  opacity: 0.3;
}
