@import "../_variables.scss";

textarea {
  // can change this in the future, in which case put this override in modal.scss
  width: $modal-input-width;
  resize: none;
  outline: none;
  padding: 5px;
  margin-bottom: -10px;
  border: 1px solid $light-emerald;
}